header {
  height: 10vh;
  width: 100vw;
  display: flex;
}

.heading {
  width: 50%;
  display: flex;
  padding: 30px 0 50px ;
  align-items: center;
  justify-content: center;
}

.signs {
  display: flex;
  list-style: none;
  width: 50%;
  margin-top: 4vh;
  position: relative;
}

.logout {
  margin-left: 32vw;
  display: flex;
}

.user-nickname {
  position: absolute;
  top: 0%;
  left: 40%;
}


.login {
  margin-left: 20vw;;
}
.sign-up {
  margin: 30px;
}