.edit_content {
  background-image: url('dry11.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: 'New Tegomin', serif;
}

.form-log {
  font-family: 'New Tegomin', serif;
}