
.show_content {
  background-color: blanchedalmond;
}

.image_content {
  display: flex;
  justify-content: center;
}

.image_size {
  width: 30vw;
  height: 40vh
}

.content_info {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 50vw;
  margin: 0 25vw;
}

.clothe_manage {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  width: 50vw;
  margin: 0 25vw;
}

.edit_space {

}

