
.show_content {
  background-image: url('dry15.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.image_content {
  width: 30vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 105px;
}

.content_range {
  background-color: rgba(173, 151, 140, 0.55);
  padding: 1vh 2vw;
  border-radius: 15px;
  border-color: rgb(94, 31, 7);
  border-width: 2px;
  color: white;
  box-shadow: 0 1px 0 #cfcfcf;
  margin: auto;
  width: 25vw;
  height: 30vh;
  height: auto;
  margin-top: 35px;
}


.content_cate {
  margin: 1vh;
  color: rgb(124, 51, 8);
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-family: 'New Tegomin', serif;
}

.content_desc {
  margin: 1vh;
  color: rgb(124, 51, 8);
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  height: auto;
  width: auto;
  font-family: 'New Tegomin', serif;
}

.content_detail {
  height: auto;
}

.clothe_manage {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin: 0 25vw;
}

.edit_space{
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clothe_btn {
  font-family: 'New Tegomin', serif;
  position: relative;
  z-index: 2;
  background: url("dry7.jpg");
  border: 1px solid rgb(109, 91, 91);
  color: rgb(133, 61, 13);
  line-height: 50px;
  overflow: hidden;
  padding: 6px 13px;
  border-radius: 5px;
}

.clothe_btn:hover {
  color: rgb(70, 92, 53);
}