header {
  height: 10vh;
  width: 100vw;
  display: flex;
}

.heading {
  width: 50%;
  display: flex;
  padding: 30px 0 50px ;
  align-items: center;
  justify-content: center;
}

.signs {
  display: flex;
  list-style: none;
  width: 50%;
  margin-top: 4vh;
  position: relative;
}

.logout {
  margin-left: 32vw;
  display: flex;
  font-size: 25px;
  font-family: 'Sacramento', cursive;
}

.user-nickname {
  position: absolute;
  top: 0%;
  left: 40%;
  font-family: 'Sacramento', cursive;
  font-size: 25px;
}


.login {
  margin-left: 20vw;
  font-family: 'Sacramento', cursive;
  font-size: 25px;
}
.sign-up {
  margin: 30px;
  font-family: 'Sacramento', cursive;
  font-size: 25px;
}

.contents {
  // background: linear-gradient(-45deg, rgba(171, 193, 247, 0.8), rgba(156, 241, 247, 0.8)),
  // url('top.jpeg');
  width: 100vw;
  height: 70vh;
  margin-top: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  opacity: 0.8;
  transition: .3s;
  position: relative;
}


.contents:hover {
  opacity: 1;

}

.contents p {
  font-size: 80px;
  opacity: 1;
  color: rgb(217, 242, 247);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  position: absolute;
  font-family: 'Caveat', cursive;
}


.function {
  display: flex;
}

.runway_catch {
  position: relative;
}

.runway_catch p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}

.image_runway {
  width: 35vw;
  height: 40vh;
  opacity: 0.5;
  transition: .3s;
}

.image_runway:hover {
  opacity: 1;
}

.calender_catch {
  position: relative;
}

.calender_catch p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}

.image_calender {
  width: 30vw;
  height: 40vh;
  opacity: 0.5;
  transition: .3s;
}

.image_calender:hover {
  opacity: 1;
}

.wardrobe_catch {
  position: relative;
}

.wardrobe_catch p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}

.image_wardrobe {
  width: 35vw;
  height: 40vh;
  opacity: 0.5;
  transition: .3s;
}

.image_wardrobe:hover {
  opacity: 1;
}


