.post_show {
  background-image: url('dry3.jpg');
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.row {
  font-family: 'New Tegomin', serif;
  width: 100vw;
  color: rgb(133, 61, 13);;
}

.text-left {
  font-size: 20px;
}

.season_position {
  padding-right: 5vw;
}

.input-mysize {
  width: 100%;
}