.signin_back_image {
  background: url('UptoU/app/assets/images/dry12.jpg');
  background-size: cover;
  background-position:center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  font-family: 'Dancing Script', cursive!important;
}

.login-flash-message {
  text-align: center;
  color: red;
}